{{>header}}

<p>
    Ver inscritos como coordinador
</p>
<form action="/cambiar" method="post">
     <p>Seleccione el curso para actualizar su estado a Cerrado:</p>
    <div class="form-group row">
    <label for="Curso" class="col-sm-2 col-form-label">Curso:</label>
    <div class="col-sm-6">
      {{{selectDisponibles listado}}}
    </div>
  </div>
    {{#if listado}}
       <button class="btn btn-primary">Cambiar Estado</button>
    {{/if}}
    {{response}}<br><br>
    <p>{{{listarCursosInscritos cursos matriculas}}}</p>
</form>


{{>footer}}